@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-rgb: 0, 0, 0;
  --light-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-rgb: 255, 255, 255;
    --light-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--light-rgb));
  background: rgb(var(--dark-rgb));
  width: 100%;
}

body,
html {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
